USE [FinanceManager]
GO
/****** Object:  UserDefinedTableType [dbo].[AccountIdList]    Script Date: 6/9/2016 10:49:42 PM ******/
CREATE TYPE [dbo].[AccountIdList] AS TABLE(
	[AccountId] [int] NULL
)
GO
