USE [FinanceManager]
GO
/****** Object:  UserDefinedTableType [dbo].[TransactionCategoryList]    Script Date: 6/9/2016 10:49:42 PM ******/
CREATE TYPE [dbo].[TransactionCategoryList] AS TABLE(
	[TransactionCategoryId] [int] NULL
)
GO
